:root {
    --herolettercolor: #5F5B5B;
    --lettercolor: #D0D0D0;  
    --titlecolor: #BFD1E1;
}

body {
    background: #2B2B2B;
    font-family: 'Share Tech', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    color: white;
}  

.store-text {
    text-align: center;
    color: var(--titlecolor);
    font-weight: 300;
}

.store-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.store-wrapper figure {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    box-shadow:2px 0px 50px rgb(14, 12, 12);  
    transition:  0.2s all ease-in-out ;
}

.store-wrapper figure:hover {
    transition: 0.2s;
    transform: scale(1.1);
}

.store-wrapper figure a p {
    color:var(--lettercolor);
    text-align: center;
    display: block;
    margin-block-start: 10px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.store-wrapper figure a  {
    text-decoration-color: var(--lettercolor);
}


@media screen and (min-width: 400px) {

.store-wrapper {
    grid-template-columns: repeat(2, 1fr);
}
}

@media screen and (min-width: 800px) {

    .store-wrapper {
        grid-template-columns: repeat(3, 1fr);
}
}